<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:site_name" content="Revolt Bot List">
  <meta property="og:title" content="Vote For <%= bot.name %>">
  <meta name="keywords" content="RevoltBotList,botlist,revolt,<%= bot.name %>,revoltbots,revoltservers">
  <meta property="og:url" content="https://revoltbots.org">
  <meta property="og:description" content="<%= bot.shortDesc %>">
  <meta property="og:image" content="<%= bot.iconURL %>">
  <meta property="og:color" content="#fe4655">
  <link rel='stylesheet' href='/css/botpage.scss'>
  <title>Vote for <%= bot.name %> - Revolt Bots</title>
  <%- include("../parts/head.ejs") %>
</head>
<%- include("../parts/nav.ejs") %>

<div class="botpagecontainer">
  <div style="background-color: transparent" class="jumbotron mt-5">
    <div class="row" style="width: 100%;">
      <img class="idk" src="<%= bot.iconURL %>">
      <div class="col-sm">
        <h2 style="color: white"><b><%= bot.name %> <span class="btn btn-info" style="border-radius: 7px;margin-top:-5px;background-color: #FF3366;border-color: #FF3366; color: white;height: 35px;"><i class="fa-solid fa-check-to-slot"></i> <span style="margin-top:-10px;">Votes: <%= bot.votes %></span></span></b>
        </h2>
        <p style="color: white">You can upvote every 12-hours
        </p>
        <hr>
        <% if (user) { %>
        <form action="/bots/<%- bot.id %>/vote" method="POST">
          <button type="submit" style="border-radius: 7px;margin-top:3px; background-color: #FF3366;border-color: #FF3366; color: white" class="btn btn-primary btn-lg btn-block" id="upvote"><b> Click to vote</b></button>
        </form>
        <% } else { %>
        <a style="text-decoration: none;" href="/login"><button type="button" style="border-radius: 7px;margin-top:3px; background-color: #FF3366;border-color: #FF3366; color: white" class="btn btn-primary btn-lg btn-block" id="upvote"><b><i class="fa-solid fa-sign-in-alt"></i> Login to vote</b></button></a>
        <% } %>
      </div>
    </div>
  </div>
</div>