<html lang="en" class="dark-mode">

<head>
  <%- include('./parts/head.ejs') %>
</head>

<body>
  <%- include('./parts/aside.ejs') %>

  <!-- Page container -->
  <main class="docs-container pt-5 pb-3 pb-lg-4" style="padding-right: 0px;">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-4">

      <!-- Page title -->
      <h1 class="ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 pb-2 mb-3 mb-xl-4">General Statistics</h1>
      <div class="border-0 shadow-sm position-relative overflow-hidden mb-5">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Databases</th>
                <th>Document Length</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Total Bots</td>
                <td><%= botsdata.length ? botsdata.length : 0 %></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bot Owners</td>
                <% const owners = botsdata.map(b => b.owners.length); %>
                <% let ownersLength = 0;
                for (let i = 0; i < owners.length; i++) {
                    ownersLength += owners[i];
                } %>
                <td><%= ownersLength %></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Approved Bots</td>
                <td><%= botsdata.filter(b => b.status == "approved").length ? botsdata.filter(b => b.status == "approved").length : 0 %></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Awaiting Approval</td>
                <td><%= botsdata.filter(b => b.status == "awaiting" || b.status == "awaiting").length ? botsdata.filter(b => b.status == "awaiting" || b.status == "awaiting").length : 0 %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2 class="h3 pt-3">Awaiting Approval</h2>
      <p>Here is a list of all the bots in the queue.</p>
      <% if (botsdata.filter(b => b.status == 'awaiting').length < 1) { %>
      <div class="alert d-flex alert-warning" role="alert">
        <i class="bx bx-error lead me-3"></i>
        <div>
          <h6 class="alert-heading">No bots in queue!</h6>
          <p>There are no bots in the queue at the moment.</p>
        </div>
      </div>
      <% } else { %>
      <div class="table-responsive">
        <table class="table table-striped-columns">
          <thead;>
            <tr>
              <th>#</th>
              <th>Bot</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <% let i = 0; %>
              <% botsdata.filter(b => b.status == 'awaiting').map(bot => { %>
              <tr id="unverified_<%= bot.id %>">
                <th scope="row"><%= i + 1 %></th>
                <td class="f-flex">
                  <img src="<%= bot.iconURL %>" class="rounded-circle me-2" width="20" height="20" alt="<%- bot.username %>" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                  <%- bot.name %>
                </td>
                <td class="d-flex" style="text-align: center;">
                  <form target="__blank" action="/panel/bots/<%= bot.id %>/testing" method="post">
                  <button type="submit" style="width: 100%;border-color:transparent;" class="badge bg-faded-success text-success me-2">Start Testing</button>
                </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
        </table>
      </div>
      <% } %>

      <h2 class="h3 pt-3">In Progress</h2>
      <p>Here is a list of all the bots that are currently being tested..</p>
      <% if (botsdata.filter(b => b.status == 'inprogress').length < 1) { %>
      <div class="alert d-flex alert-warning" role="alert">
        <i class="bx bx-error lead me-3"></i>
        <div>
          <h6 class="alert-heading">No bots in queue!</h6>
          <p>There are no bots in the queue at the moment.</p>
        </div>
      </div>
      <% } else { %>
      <div class="table-responsive">
        <table class="table table-striped-columns">
          <thead;>
            <tr>
              <th>#</th>
              <th>Bot</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <% let i = 0; %>
              <% botsdata.filter(b => b.status == 'inprogress').map(bot => { %>
              <tr id="unverified_<%= bot.id %>">
                <th scope="row"><%= i + 1 %></th>
                <td class="f-flex">
                  <img src="<%= bot.iconURL %>" class="rounded-circle me-2" width="20" height="20" alt="<%- bot.username %>" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                  <%- bot.name %>
                </td>
                <td class="d-flex" style="text-align: center;">
                  <a class="badge bg-faded-success text-success me-2" type="button" data-bs-toggle="modal" href="/panel/bots/<%= bot.id %>/approve" style="width: 100%;">Approve</a>
                  <a class="badge bg-faded-danger text-danger me-2" type="button" href="/panel/bots/<%= bot.id %>/deny" style="width: 100%;">Decline</a>

                  <a href="/bots/<%= bot.id %>" class="badge bg-faded-primary text-primary" style="width: 100%">View Profile</a>
                </td>
              </tr>
              <% }) %>
            </tbody>
        </table>
      </div>
      <% } %>

      <script>
        function approve(id) {
          event.preventDefault();
          if (!id) return document.getElementById('approveError_' + id).innerHTML = '<div class="alert alert-danger" role="alert">Please provide a bot ID.</div>';

          fetch('/panel/bot/approve', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              botID: id
            })
          }).then(res => res.json()).then(data => {
            if (data.error) return document.getElementById('approveError_' + id).innerHTML = '<div class="alert alert-danger" role="alert">' + data.message + '</div>';
            else if (data.success) {
              document.getElementById('approveError_' + id).innerHTML = '<div class="alert alert-success" role="alert">' + data.message + '</div>';
              document.getElementById('unverified_' + id).remove();
            }
          })
        }

        function decline(id, reason) {
          event.preventDefault();
          if (!id) return document.getElementById('declineError_' + id).innerHTML = '<div class="alert alert-danger" role="alert">Please provide a bot ID.</div>';
          if (!reason) return document.getElementById('declineError_' + id).innerHTML = '<div class="alert alert-danger" role="alert">Please provide a reason for declining the bot.</div>';

          fetch('/panel/bot/decline', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              botID: id,
              reason: reason
            })
          }).then(res => res.json()).then(data => {
            if (data.error) return document.getElementById('declineError_' + id).innerHTML = '<div class="alert alert-danger" role="alert">' + data.error + '</div>';
            else if (data.success) {
              document.getElementById('declineError_' + id).innerHTML = '<div class="alert alert-success" role="alert">' + data.message + '</div>';
              document.getElementById('unverified_' + id).remove();
            }
          })
        }
      </script>

      <h2 class="h3 pt-3">Approved Bots</h2>
      <p>Here is a list of all the bots on the site.</p>
      <div class="input-group mb-3">
        <input class="form-control" type="text" id="searchUser" placeholder="Search for a user or bot" aria-label="Search for a user or bot">
      </div>
      <div class="table-responsive">
        <table class="table table-striped-columns">
          <thead;>
            <tr>
              <th>#</th>
              <th>Bot</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <% let i = 0; %>
              <% botsdata.filter(b => b.status == 'approved').map(bot => { %>
              <tr id="user<%= i++ %>">
                <th scope="row"><%= i %></th>
                <td class="f-flex">
                  <img src="<%= bot.iconURL %>" class="rounded-circle me-2" width="20" height="20" alt="<%- bot.username %>" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                  <%- bot.name %>
                </td>
                <td>
                  <%- bot.status == "approved" ? '<span class="badge bg-primary">Approved</span>' : '<span class="badge bg-warning">Awaiting Approval</span>' %>
                  <%- bot.certified ? '<span style="background-color: #DE4352; margin-left: 5px;" class="badge">Certified</span>' : '' %>
                </td>

                <td style="text-align: center;">
                  <% if (user.isAdmin) { %>
                    <a href="/bots/<%= bot.id %>" class="badge bg-faded-success text-success" style="width: 40%">View Page</a>
                    <a class="badge bg-faded-danger text-danger me-2" type="button" href="/panel/bots/<%= bot.id %>/delete" style="width: 40%; margin-left: 8px;">Delete</a>
                  <% } else { %>
                    <a href="/bots/<%= bot.id %>" class="badge bg-faded-success text-success" style="width: 100%">View Page</a>
                  <% } %>                  
                </td>
              </tr>
              <% }) %>
            </tbody>
        </table>
      </div>
      <script>
        document.getElementById("searchUser").addEventListener("keyup", function() {
          let search = document.getElementById("searchUser").value.toLowerCase();
          let users = document.getElementsByTagName("tr");
          for (let i = 0; i < users.length; i++) {
            let user = users[i].id;
            console.log(user)
            if (user.startsWith("user")) {
              let username = document.getElementById(user).children[1].innerHTML.toLowerCase();
              let botname = document.getElementById(user).children[2].innerHTML.toLowerCase();
              if (username.includes(search) || botname.includes(search)) {
                document.getElementById(user).style.display = "table-row";
              } else {
                document.getElementById(user).style.display = "none";
              }
            }
          }
        });
      </script>
    </div>
  </main>

</body>
<%- include('../parts/footer.ejs') %>
<div class="modal-backdrop fade show d-none"></div>